<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Change Password</a></h1>
            <h3>Comfirmation Email Sent</h3>
            <p>
                If the email you enter is existed, then you will received a comfirmation email soon with the steps to reset your password.
            </p>
            <p>
                If you didn't receive the email, please make sure the email address you entered is correct, and check your spam folder.
            </p>
        </div>
    </div>
</div>
</body>
</html>